@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

html {
  scroll-behavior: smooth;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.blue {
  color: rgb(0, 150, 255);
}

.no-cursor {
  cursor: not-allowed !important;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 24px;
}

/* NAVIGATION BAR */

.logo {
  width: 160px;
}

.nav__container {
  width: 100%;
  max-width: 1200px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 24px;
}

.nav__list-item {
  margin: 0 20px;
  font-size: 20px;
  font-weight: 600;
  transition: all 200ms;
  color: rgb(40, 40, 40);
  display: flex;
  align-items: center;
}

.nav__list-item:hover {
  cursor: pointer;
  color: rgb(0, 150, 255);
}

.nav__list-item--text {
  font-size: 16px;
  margin-left: 8px;
}

/* HOME PAGE */

.home__title {
  text-align: center;
  font-size: 48px;
  font-weight: 800;
  padding-bottom: 36px;
  color: rgb(40, 40, 40);
}

.home__search-bar {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin-bottom: 64px;
}

.home__search-bar input {
  width: 100%;
  height: 70px;
  font-size: 18px;
  border-radius: 50px;
  border: 2px solid rgb(40, 40, 40);
  padding: 0 56px;
}

.home__search-bar input:focus {
  border: 2px solid rgb(40, 40, 40);
  outline: none;
}

.home__search-bar button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  color:rgb(40, 40, 40);
  transition: all 300ms;
}

.home__search-bar button:hover {
  cursor: pointer;
}

.search__btn {
  font-size: 24px;
  left: 20px;
}

.search__btn:hover {
  color:rgb(0, 150, 255);
}

.clear-search__btn {
  font-size: 28px;
  right: 20px;
}

.clear-search__btn:hover {
  color: rgb(255, 65, 65);
}

.home__img {
  width: 100%;
  max-width: 600px;
}

/* GAMES PAGE */

.games__container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.game-card__container {
  position: relative;
  width: 100%;
  flex-grow: 1;
  background-color: rgb(40, 40, 40);
  border-radius: 10px;
  overflow: visible;
  transition: all 300ms ease;
}

.game-card__container:hover {
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.game-card__container:hover .game__img {
  transform: scale(1.05);
}

.game-card__container--skeleton {
  width: 100%;
  height: 300px;
  background-color:rgb(200, 200, 200);
  border-radius: 10px;
}

.game-card {
  width: calc(100% / 4);
  display: flex;
  flex-direction: column;
  padding: 0 16px 32px 16px;
}

.game__img--wrapper {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.game__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: all 300ms;
}

.game__info--wrapper {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.game__title {
  color: white;
  font-size: 20px;
}

.game__release-date {
  color: rgb(200, 200, 200);
  font-size: 14px;
  font-weight: 600;
}

.game__score {
  color: rgb(200, 200, 200);
  background-color:rgb(40, 40, 40);
  font-size: 28px;
  border: 2px solid rgb(200, 200, 200);
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 8px;
  width: 60px;
  height: 60px;
  text-align: center;
}

.btn__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 32px;
}

.btn {
  border: none;
  background-color: rgb(200, 200, 200);
  font-size: 18px;
  font-weight: 600;
  color:rgb(40, 40, 40);
  transition: all 300ms;
  padding: 8px 16px;
  border-radius: 10px;
}

.btn:hover {
  background-color:rgb(40, 40, 40);
  color: white;
  cursor: pointer;
}

.prev__btn {
  margin-left: 16px;
}

.prev__btn:disabled {
  background-color: rgb(200, 200, 200);
  color:rgb(120, 120, 120);
  cursor: default;
}

.next__btn {
  margin-right: 16px;
}

.fa-chevron-left {
  margin-right: 8px;
}

.fa-chevron-right {
  margin-left: 8px;
}

/* FOOTER */

footer {
  background-color: rgb(40, 40, 40);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.footer__logo {
  max-width: 180px;
  width: 100%;
  margin-top: 28px;
  padding: 0 16px;
}

.footer__list {
  margin: 20px 0;
}

.footer__list-item {
  color: white;
  text-align: center;
  font-weight: 500;
  margin: 0 16px;
}

.footer__list-item:hover {
  text-decoration: underline;
}

.copyright {
  color: white;
  text-align: center;
  margin-bottom: 28px;
  padding: 0 16px;
}

.socials__list {
  color: white;
  display: flex;
  position: absolute;
  bottom: 16px;
  right: 16px;
}

.socials__icon {
  margin: 0 8px;
  transition: all 300ms;
}

.socials__icon:hover {
  transform: scale(1.25);
  cursor: pointer;
}
